body {
    background-color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#top-header {
    display: block;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #1a1a1a;
    padding-bottom: 50px; 
    padding-top: 50px;
    border:1px solid #591414;
}

#content-container {
    flex: 1;
    display: flex;
    align-items: stretch;
}

#menu {

    display: inline-block;
    top: 0;
    left: 0;
    width: 20vh;
    height: 100%;
    background-color: #1a1a1a;
}

#login {
    flex: 1;
    display: inline-block;
    /* position: fixed; */
    top: 0;
    right: 0;
    width: 20vh;
    height: auto;
    background-color: #343434;
    border: 1px solid #591414;
    text-align: center;
    margin-left: 0;
    padding-top: 15px
}

#header2 {
    margin: 0;
    padding: 5;
}

#header3 {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #ff0000;
}

#label1 {
    margin: 0;
    font-size: 15px;
    color: #ffffff;
}

#visible_password {
    margin: 0;
    font-size: 15px;
    color: #059400;
}
a {
    font-size: 18;
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 20px 30px;
    border:1px solid #591414;
}
p {
    margin: 0;
    padding: 0;
    
}